<!doctype html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <form method="POST" id="uploadimage" type="file" action="/upload" enctype="multipart/form-data" accept="image/*">
      <input id='fileid' type='file' name='file' hidden />
      <input id='buttonid' type='button' value='Upload File' />
      <p><img id="output" width="200" /></p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
  <script src="static/upload.js"></script>
</html>